Makefile.in
aclocal.m4
compile
config.h.in
configure
depcomp
install-sh
ltmain.sh
lxsession-logout/Makefile.in
lxsession/Makefile.in
m4/
man/Makefile.in
missing
po/Makefile.in.in
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
libtool
lxsession-logout/.deps/
lxsession-logout/Makefile
lxsession-logout/lxsession-logout
lxsession-logout/*.o
lxsession/.deps/
lxsession/Makefile
lxsession/lxsession
lxsession/*.o
man/Makefile
man/*.1
po/LINGUAS
po/Makefile
po/POTFILES
po/*.gmo
po/stamp-it
stamp-h1
Makefile
