Makefile.in
aclocal.m4
compile
config.h.in
configure
depcomp
install-sh
lxsession-logout/Makefile.in
lxsession/Makefile.in
man/Makefile.in
missing
po/Makefile.in.in
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
data/*.desktop
libtool
lxclipboard/lxclipboard
lxclipboard/main.c
lxsession-logout/lxsession-logout
lxsession/lxsession
lxsession/*.c
lxsession/lxsession
lxsession-default-apps/*.c
lxsession-default-apps/lxsession-default-apps
lxsession-edit/lxsession-edit
lxsession-db/*.c
lxsession-db/lxsession-db
lxsession-message/*.c
lxsession-message/lxsession-message-gtk
lxpolkit/lxpolkit
lxpolkit/main.c
man/Makefile
man/*.1
po/LINGUAS
po/POTFILES
po/*.gmo
po/stamp-it
po/.intltool-merge-cache
stamp-h1
Makefile
*/Makefile
*/*/Makefile
*/.deps/
*/*.o
*/*_vala.stamp
autom4te.cache/
debian/files
debian/lxsession.debhelper.log
debian/lxsession.substvars
debian/lxsession/
debian/lxsession-dbg.debhelper.log
debian/lxsession-dbg.substvars
debian/lxsession-dbg/
debian/tmp/
debian/lxpolkit.debhelper.log
debian/lxpolkit.substvars
debian/lxpolkit/
debian/lxsession-data.debhelper.log
debian/lxsession-data.substvars
debian/lxsession-data/
debian/lxsession-edit.debhelper.log
debian/lxsession-edit.substvars
debian/lxsession-edit/
debian/lxsession-logout.debhelper.log
debian/lxsession-logout.substvars
debian/lxsession-logout/
debian/lxsession-default-apps/
debian/lxsession-default-apps.debhelper.log
debian/lxsession-default-apps.substvars
debian/lxsession-message-gtk.debhelper.log
debian/lxsession-message-gtk.substvars
debian/lxsession-message-gtk/
