Source: lxsession
Section: x11
Priority: optional
Maintainer: Debian LXDE Packaging Team <pkg-lxde-maintainers@lists.alioth.debian.org>
Uploaders: Andrew Lee (李健秋) <ajqlee@debian.org>
Build-Depends: debhelper (>= 7.0.50~), 
# needed by autogen.sh
               autotools-dev,
               intltool,
               libtool,
# real build-depends
               libgtk2.0-dev (>=2.6), 
               libdbus-glib-1-dev (>=0.31),
               libpolkit-agent-1-dev,
               valac-0.20 | valac,
               docbook-xsl,
               xsltproc,
               docbook-xml,
Standards-Version: 3.8.4
Homepage: http://lxde.sf.net
Vcs-Git: git://git.debian.org/git/collab-maint/lxsession.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/lxsession.git;a=summary


Package: lxsession
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lxsession-data
Recommends: openbox | x-window-manager, openssh-client | rsh-client | ssh-client
Suggests: lxde-common, lxpanel, pcmanfm, gpicview
Provides: x-session-manager, lxsession-lite, lxsession
Replaces: lxsession-lite, lxde-settings-daemon, lxsession
Conflicts: lxsession-lite, lxde-settings-daemon, lxde-common (<= 0.4.2-3), lxsession
Description: a lightweight X11 session manager
 LXSession is a lightweight X11 session manager with fewer dependencies,
 designed for use with the LXDE(Lightweight X11 Desktop Environment).
 It derived from XSM and have following differences:
  * Removed the session dialog from xsm.
  * Stripped down without session restore function.
  * Automaticlly restart specific program if crashes happened.
  * Use better configuration.
  * Provide a nice logout-dialog with the ability to 
    shutdown/reboot/suspend/hibernate via HAL or gdm
  * Support halt/reboot LTSP thin clients,
 and more....
 .
 It's desktop-independent and can be used with any window manager.
 .
 As "session manager" lxsession used to automatically start a set of
 applications and set up a working desktop environment
 .
 LXSession has also a built-in lightweight Xsettings daemon, which can 
 configure GTK+ themes, keyboard, and mouse for you on session startup.

Package: lxsession-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: lxsession (<< 0.4.7)
Description : Common files for lxsession
 Common files for lxsession

Package: lxsession-edit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lxsession-data
Description: configure what application start up automaticlly in LXDE 
 LXSession-Edit is a simple session editor GUI for lxsession-lite which
 follows autostart specs from FreeDesktop.Org

Package: lxpolkit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lxsession-data
Description: LXDE PolicyKit authentication agent
 LXPolkit is a GUI application for the Lightweight X11 Desktop Environment
 (LXDE).
 .
 It's a simple PolicyKit authentication agent.

Package: lxsession-dbg
Architecture: any
Section: debug
Depends: lxsession (= ${binary:Version}),,
         ${shlibs:Depends},
         ${misc:Depends}
Description: a lightweight X11 session manager - debug package
 This package provide debug symbols for lxsession.

Package: lxsession-logout
Architecture: any
Replaces: lxsession (<< 0.4.9.2)
Depends: ${shlibs:Depends}, ${misc:Depends}, lxsession-data
Description: quit utility for LXDE 
 LXSession-logout is a simple utility for logout and quit a session.

Package: lxsession-default-apps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simple tool to configure lxsession default applications 
 lxsession-default-apps is a simple session editor GUI for lxsession default
 applications.

Package: lxsession-message-gtk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simple tool to display message from lxsession 
 lxsession-message-gtk is a simple tool to display message from lxsession
