#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh  $@

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -- --enable-man --enable-buildin-clipboard --enable-buildin-polkit

override_dh_auto_clean:
	rm -f man/lxsession-logout.1 man/lxsession.1
	dh_auto_clean

override_dh_install:
	rm -f debian/tmp/usr/share/man/man1/*
	dh_install --fail-missing

override_dh_auto_test:
	true

override_dh_strip:
	dh_strip --dbg-package=lxsession-dbg
