#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@ --parallel --with autoreconf

override_dh_autoreconf:
	dh_autoreconf -- ./autogen.sh 

override_dh_auto_configure:
	dh_auto_configure -- --enable-man

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=lxsession-dbg
